.m-sample-searchbar {
  .MuiDivider-vertical {
    height: 40px;
  }
  .MuiOutlinedInput-adornedEnd {
    padding-right: 0px;
  }
}

.m-login-dialog {
  .MuiOutlinedInput-adornedEnd {
    padding-right: 0px;
  }
}
